<!DOCTYPE html>
<html>
<head>
  <title>Wifispot Api Usage</title>
</head>
<body>

<h1>How to use:</h1>	

<p>
<h2><a href="api/v1/jp/wifispots/gps?distance=1000&count=5&y_coord=35.76410755&x_coord=140.3845965">/api/v1/[en/jp]/wifispots/gps?distance=1000&count=1&y_coord=35.76410755&x_coord=140.3845965</a></h2>
Parameters:<br>
jp/en (Choose language)
distance (Default is 500m)<br>
count (Default is 5)<br>
y_coord (Latitude<br>
x_coord (Longtitude)<br>
</p>
<br><br>

<p>
<h2><a href="api/v1/jp/wifispots/search?s=%E6%96%B0%E5%AE%BF&count=10">/api/v1/[jp/en]/wifispots/search?s=%E6%96%B0%E5%AE%BF&count=10</a></h2>
Parameters:<br>
jp/en (Choose language)<br>
s (Search keyword)<br>
count (Default is 5)<br>
</p>

</body>
</html>
